/* <i class="fas fa-thumbtack"></i> */
/* font-family: 'Caveat', cursive; */

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: rgb(33, 197, 156); */
}

fieldset {
  margin: 1em;
  padding: 2em;
  background-color: white;
  top: 5em;
  width: 33%;
  box-shadow: inset 0 0 10px #000000;
  border: 0px;
  border-radius: 10px;
}

label {
  display: block;
  margin: 10px;
}
.space {
  margin-bottom: 20px;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

span {
  font-weight: bold;
}

header {
  font-family: "Gloria Hallelujah", cursive;
}

h1,
h2 {
  font-family: "Gloria Hallelujah", cursive;
}

h1 {
  font-size: 1.5em;
  line-height: 1em;
}

h2 {
  font-size: 1.1em;
}

article {
  margin: 0.5em;
  padding: 1em;
  margin-bottom: 1.5em;
  background-color: pink;
}

.fas {
  position: relative;
  left: 95%;
  margin: 0;
  padding: 0;
  transform: rotate(35deg);
}

input:focus {
  outline: 0;
}

select:focus {
  outline: 0;
}

[type="submit"] {
  cursor: pointer;
  color: white;
  border: 0;
  background-color: rgb(33, 197, 156);
  border-radius: 5px;
  font-size: 1em;
  box-shadow: -5px 5px pink;
  padding: 10px;
  transition: 1s ease;
}

[type="submit"]:hover {
  color: black;
  background-color: pink;
  box-shadow: -5px 5px rgb(33, 197, 156);
}

[type="text"] {
  border: 0;
  border-bottom: 1px solid rgb(33, 197, 156);
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1em;
}

[type="text"]:focus {
  border-bottom: 1px solid pink;
}

button {
  cursor: pointer;
  border: 0;
  background-color: white;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: -5px 5px rgb(33, 197, 156);
  padding: 10px;
  transition: 0.5s ease;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(33, 197, 156);
  box-shadow: -5px 5px white;
}

.footer-reqfields {
  margin-top: 1.5em;
  font-size: 0.8em;
}

.importance {
  font-family: "Gloria Hallelujah", cursive;
  background-color: rgb(202, 135, 228);
  padding-left: 10px;
  border-radius: 5px;
}

.forwhen {
  font-family: "Gloria Hallelujah", cursive;
}

/* .forwhen::before {
  display: none;
  content: "By ";
} */

/* Big screens */

@media (min-width: 600px) and (max-width: 2000px) {
  .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .wrap-form {
    display: grid;
    background-color: rgb(33, 197, 156);
  }

  .wrap-template {
    display: grid;
    background-color: white;
    margin: 1em;
  }
  fieldset {
    position: fixed;
    top: 5em;
    width: 33%;
  }
  header {
    position: fixed;
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em;
  }
}

/* Small screens */
@media screen and (max-width: 600px) {
  .wrap {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "one" "two";
  }

  .wrap-form {
    display: grid;
    grid-area: "one";
    background-color: rgb(33, 197, 156);
  }

  .wrap-template {
    display: grid;
    grid-area: "two";
    background-color: white;
    margin: 1em;
  }
  fieldset {
    top: 5em;
    width: auto;
  }
  header {
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em;
    background-color: rgb(33, 197, 156);
  }
  fieldset {
    margin-top: -8px;
  }
}
